<h1> Adding new book</h1>
<form #bookForm="ngForm"
      (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">
      Input book name :
    </label>
    <input id="title"
           [(ngModel)]="book.title"
           name="title"
           required
           #title=ngModel>
    <span [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title is required
    </span>
  </div>
  <div class="form-group">
    <label for="title">
      Input book year :
    </label>
    <input id="year"
           [(ngModel)]="book.year"
           name="year"
           required
           #year=ngModel
           type="text">
    <span [hidden]="year.valid || year.pristine" class="alert alert-danger">
      Year is required
    </span>
  </div>
  <div class="form-group">
    <label for="author">
      Input book author :
    </label>
    <select id="author"
            [(ngModel)]="book.author"
            name="author"
            required
            type=""
            #author=ngModel>
      <option *ngFor="let author of authors" [value]="author">{{author}}</option>

      <span [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Author is required
    </span>
    </select>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Add new Book</button>

</form>
