<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>genre</th>
    <th>year</th>
    <th>title</th>
    <th>author</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{book.id}}</td>
    <td>{{book.genre}}</td>
    <td>{{book.year}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>
      <button class="btn btn-warning" (click)="edit()">Edit</button>
      <button class="btn btn-danger" (click)="delete(book.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
